@import "../../../packages/shared/styles.css";

@source "../../../packages/shared/**/*.{ts,tsx}"; /* Shared package components */
@config "../tailwind.config.ts";

@theme inline {
  --color-baas-destructive: var(--baas-destructive);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  /* Overriding the primary color used in the datepicker component */
  --color-blue-400: var(--primary);
  --color-blue-500: var(--primary);
  --color-blue-600: var(--primary);
  --color-blue-700: var(--primary);
  --color-blue-800: var(--primary);
  --color-blue-900: var(--primary);
}

:root {
  --destructive: var(--baas-destructive);
  /* Meeting BaaS brand colors */
  --baas-destructive: oklch(0.64 0.2465 18.31);
  /* Sidebar properties */
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

.dark {
  --destructive: var(--baas-warning-500);
}

@layer utilities {
  /* Override specific tailwind utility classes.
  They are used at various places in the datepicker component. */
  .border-gray-300 {
    @apply !border-border;
  }
  .border-slate-600 {
    @apply !border-border;
  }
  .bg-white {
    @apply !bg-background;
  }
  .bg-blue-100 {
    @apply !bg-baas-primary-700/10;
  }
  .hover\:bg-blue-100:hover {
    @apply !bg-accent;
  }
  .dark\:border-gray-700:is(.dark *) {
    @apply !border-border;
  }
  .dark\:bg-slate-800:is(.dark *) {
    @apply !bg-baas-black;
  }
  .dark\:text-white:is(.dark *) {
    @apply !text-foreground;
  }
  .dark\:border-slate-600:is(.dark *) {
    @apply !border-border;
  }
  .dark\:bg-white\/10:is(.dark *) {
    @apply !bg-accent;
  }
  .dark\:hover\:bg-white\/10:is(.dark *):hover {
    @apply !bg-accent;
  }
  .dark\:focus\:bg-white\/10:is(.dark *):focus {
    @apply !bg-accent;
  }
  .dark\:bg-white\/5:is(.dark *) {
    @apply !bg-accent;
  }
  .text-gray-400 {
    @apply !text-muted-foreground/40;
  }
  .text-gray-500 {
    @apply !text-muted-foreground;
  }
}
