@import "../../../packages/shared/styles.css";

@source "../**/*.{ts,tsx}"; /* Current app files */
@source "../../../packages/shared/**/*.{ts,tsx}"; /* Shared package components */

@theme inline {
  --color-google-blue: var(--google-blue);
  --color-microsoft-grey: var(--microsoft-grey);
  --color-github-green: var(--github-green);
  --color-gitlab-orange: var(--gitlab-orange);
  --color-zoom-blue: var(--zoom-blue);
}

:root {
  /* Brand Logo colors */
  --google-blue: oklch(0.63 0.1803 259.76);
  --microsoft-grey: oklch(0.55 0 0);
  --github-green: oklch(0.55 0.147 146.41);
  --gitlab-orange: oklch(0.7 0.1901 43.17);
  --zoom-blue: oklch(0.65 0.1915 256.03);
}

.dark {
  --destructive: var(--baas-warning-500);
}

@media (pointer: coarse) {
  .pointer-touch-opacity-100 {
    opacity: 100%;
  }
}

.card-grid > *:nth-child(1) {
  @apply border-r border-b rounded-tl-xl;
}

.card-grid > *:nth-child(2) {
  @apply border-b rounded-tr-xl;
}

.card-grid > *:nth-child(3) {
  @apply border-r rounded-bl-xl;
}

.card-grid > *:nth-child(4) {
  @apply rounded-br-xl;
}
